/* font-family start */
/* @import url('https://fonts.cdnfonts.com/css/avenir'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* font family end */

/* common css start */
body{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color:#000000;
}
/* common css end */
/* header start */
header{
    padding: 15px 0;
    background-color: #D7F5DC; 
}
.cnav{}
.menu ul li a{
    padding:0 30px !important;
    font-size: 16px;  
    font-weight: 500;
    color: #000000 !important;
}
.btn_cm{
    background-color:  #20B15A;
    font-family: "Poppins", sans-serif; 
    color: #FFFFFF;
    
    
}
.btn_cm:hover{
    background-color: #F55F1D;
    color: #FFFFFF;
}
.btn_cm:active{
    background-color: #F55F1D;
    color: #FFFFFF !important;
}
.btn_log{
    margin-left: 20px;
    margin-right: 30px;
    
    font-family: "Poppins", sans-serif; 
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    border: 1px solid #20B15A;  
    border-radius: 10px;
    padding: 10px;
    
}
  
.btn_reg{
    border-radius: 10px;
    padding: 10px;
    
}

/* header end */
/* banner start */
.banner{
    background-color: #D7F5DC;
    padding: 49px 0 24px ;
}
.b_content{
    padding-right: 105px;
    margin: 108px 0 54px;
}
.b_h1{
    font-size: 50px;
    font-weight: 500;
    line-height: 65px;
    color: #000000;

}
.b_p1{
    margin: 10px 0 35px;
    font-weight: 400;

}
.b_btn{
    margin-top: 0;
    border-radius: 16px;
    padding: 20px 30px;
}
.b_img{}
.b_img img{}


/* banner end */
/* logos start */
.logos{
    padding: 45px 0;
    background-color: #F8FFF9;
}
/* logos end */
/* solution start */
.solution p{
    margin-top: 67px;
}
.cm_p{
    font-size: 20px;
    font-weight: 500;
    color: #20B15A !important;
    text-transform: uppercase;
}
.solution h2{
    margin-bottom: 40px;
    width: 495px;
}
.cm_h2{
    font-size: 30px;
    font-weight: 600;
    color: #000000;
}
.s_single{
    padding: 10px 30px 35px;
    margin-bottom: 48px;
    background-color: #F8FFF9;
    border-radius: 30px;
}
.s_single:hover{
    background-color: white;
    box-shadow:0px 20px 40px rgba(0, 0, 0, 0.1) ;
}
.s_icon{
    margin: 50px 0 15px;
}
.s_icon i{
    padding: 20px;
    font-size: 25px;
    background-color:#D7F5DC;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #130F26;
}
.cm_h3{
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}
.single_p{
    margin: 15px 0 43px;
   
    font-size: 18px;
    font-weight: 400;
}
.s_single p{
    margin-bottom: 51px;
}
.s_single p a{
   
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}
.s_single p a span i{
    font-size: 16px;
    color: #000000;
    
}


/* solution end */
/* growth start */
/* growth end */
/* contact start */
.contact{
    padding: 91px 0 87px;
    background-color: #FFFFFF;
}
.c_tittle h2{
    padding: 0 10px;
    margin-top: 22px;
    margin-bottom: 46px;
}

.c_p2{
    margin-bottom: 23px;
    font-size: 16px;
    font-weight: 400;
    color: #8B8B8B;
    
}
.c_form{
    
}
.c_input{
    padding: 20px 16px;
    border-radius: 14px;
    border: 1px solid #000000;
    
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #8B8B8B;
}
.c_button{}
.c_button:hover{}
/* contact end */
/* footer top start */
footer{
    padding-top: 80px;
    background-color:#00CA72;

}
.ft_logo h2{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}
.ft_logo p{
    font-weight: 400;
}
.ft_icon{
    text-align: center;

}
.ft_icon a i{
    margin: 10px 10px 0 0;
    padding: 10px 15px;
    border: 1px solid transparent;
    background-color: #20B15A;
    font-size: 18px;
    color: #FFFFFF !important;
    border-radius: 50%;
    
    
}
.ft_links{

}
.ft_h3{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
.ft_links ul{
    padding-left: 0 !important;
}
.ft_links ul li{
    margin-top: 15px;
    list-style: none;
}
.ft_links ul li a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
}
.ft_address address{
    font-weight: 400;
}


/* footer top end */
/* footer */
footer{
    background-color: #00CA72;
}
.ft_p{
    padding-top: 60px;
    font-weight: 400;
}

